<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

<body>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
          <form class="form-signin">
            <div class="form-label-group">
              <%= f.email_field :email, class: 'form-control', placeholder:"Email address", required: true, autofocus: true %>
              <%= f.label :email %>
            </div>

            <div class="form-label-group">
<!--              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
<!--              <label for="inputPassword">Password</label>-->

              <%= f.password_field :password, class: 'form-control', placeholder:"Password", required: true %>
              <%= f.label :password %>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
<!--              // TODO: we need to refactor this to make sure the check mark is working-->
              <%#= f.label :remember_me, class: "checkbox inline" do %>
                <%#= f.check_box :remember_me %>
<!--                <span>Remember me on this computer</span>-->
              <%# end %>

            </div>
<!--            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>-->
            <%= f.submit "Log in", class: "btn btn-lg btn btn-info btn-block text-uppercase" %>
            <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn btn-primary btn-block text-uppercase" %>
            <hr class="my-4">


          </form>
            <%end %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
