<div class="album py-5">
  <div class="container">
<div class="row">
  <% @tournaments.each do |tournament| %>
    <div class="col-md-4">
      <div class="card mb-4 border-info">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title"><%= tournament.name %></h5>
            <p class="card-text"><%= tournament.address['state']%></p>
            <% if current_user?(tournament.user) %>
            <a><%= link_to 'Edit', edit_tournament_path(tournament) %></a> |
            <%end %>
            <td><%= link_to 'Show', tournament %></td>



          </div>

          <div class="card-footer">

            <small class="text-muted">Created <%= time_ago_in_words(tournament.created_at) %> ago.</small>
<!--            Posted <%#= time_ago_in_words(tournament.created_at) %> ago.-->

          </div>
        </div>
      </div >
    </div>
  <% end %>
</div>
  </div>
</div>
