<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Tournament date:</strong>
  <%= @tournament.tournament_date %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @tournament.contact_name %>
</p>

<p>
  <strong>Contact phone number:</strong>
  <%= @tournament.contact_phone_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @tournament.user_id %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
