<div class="card border-info mb-3">
  <div class="card-header">
    <%= @tournament.name %>
  </div>
  <div class="card-body">
    <!--<h5 class="card-title">Special title treatment</h5>-->
    <p><strong>Tournament date:</strong> <%= @tournament.tournament_date %> </p>
    <p class="card-text">  <strong>Contact name:</strong> <%= @tournament.contact_name %></p>
    <p class="card-text">  <strong>Contact phone number:</strong> <%= @tournament.contact_phone_number %></p>
    <p class="card-text">  <strong>Tournament location:</strong>
      <%= @tournament.address['street_address']%>
      <%= @tournament.address['city']%>
      <%= @tournament.address['state']%>
      <%= @tournament.address['zip']%></p>

    <% if current_user?(@tournament.user) %>
      <%= link_to 'Edit', edit_tournament_path(@tournament), class: 'inactive'%> |

    <%end %>
    <%= link_to 'Back', tournaments_path %>
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

<p id="notice"><%= notice %></p>

<h1>Teams Registered(<%= @tournament.teams.count %>)</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Team</th>
    <th scope="col">Contact Name</th>
    <th scope="col">Contact Phone</th>
  </tr>
  </thead>
  <tbody>
  <% @tournament.teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.team_contact_name %></td>
      <td><%= team.team_contact_phone_number %></td>
    </tr>
  <% end %>
  </tbody>
</table>